div.card-visit {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }

  input[type=text], [type=integer], [type=textarea] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
  }
  
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  button.edit-patient, button.delete-patient, button.add-visit, button.edit-visit-button, button.delete-visit-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  body {
    height: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/2804/8054/products/il_fullxfull.907683384_gwkt_1024x.jpg?v=1571726605');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

div#record-form, div.card-patient {
  border-bottom:2px solid black;
}